body {
    background-color: #263238; /* 背景色 */
  }
  h1 {
    color: #FFFFFF; /* Hello Worldを白文字に */
  }

  table {
    width: 400px; /* 表の幅 */
    height: 800px; /* 表の高さ */
    /* 中央揃えにする */
    margin-left: auto;
    margin-right: auto;
  }
  
  td {
    width: 10%; /* セル幅 */
    height: 5%; /* セル高さ */
    background-color: #455A64; /* 背景色 */
  }

  /*テトリスのクラスで指定した特定セルの色の記述*/
  .i {
    background-color: #00BCD4; 
  }
  
  .o {
    background-color: #FFEB3B; 
  }
  
  .t {
    background-color: #9C27B0; 
  }
  
  .s {
    background-color: #4CAF50; 
  }
  
  .z {
    background-color: #F44336; 
  
  .j {
    background-color: #2196F3;
  }
  
  .l {
    background-color: #FF9800;
  }
